body {
    margin: 10;
    padding: 10;
  }
  .wrapper {
    font-size: 2rem;
    
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  a {
    color: white;
  }